@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700&display=swap");

:root {
  --dark-main-color: #673a13;
  --main-color: #dda15e;
  --light-main-color: #fefae0;

  --dark-secondary-color: #283618;
  --light-secondary-color: #606c38;
}

* {
  overflow-x: hidden;
  font-family: "Playfair Display";
}

html,
body {
  margin: 0;
  background-color: var(--light-main-color);
}

h1,
h2,
h3,
h4,
h5 {
  overflow-y: hidden;
}

.dark-brown {
  color: var(--dark-main-color);
}

.light-brown {
  color: var(--main-color);
}

a {
  color: var(--dark-main-color);
}

header {
  background-color: var(--main-color);
  min-height: 100vh;
}

header .brand {
  color: var(--light-main-color);
  font-weight: 700;
}

header p {
  font-size: 1.75rem;
}

.foto-profil {
  max-width: 20vw;
  box-shadow: 0 5px 15px hsla(0, 0%, 0%, 0.3);
}

.card {
  border-radius: 10px;
  border-color: var(--main-color);
  background-color: var(--light-main-color);
  margin: 10px 5px;
}

.card-title {
  cursor: pointer;
}

.content {
  max-width: 30rem;
  margin: 0 auto;
  padding: 10px;
}

.content h4 {
  position: absolute;
  left: 0;
  top: 0;
  margin: 10px 20px;
  cursor: pointer;
}

.content img {
  display: block;
  margin-left: auto !important;
  margin-right: auto !important;
}

@media (max-width: 768px) {
  .foto-profil {
    max-width: 50vw !important;
  }

  .content h4 {
    top: auto;
  }
}
